<body class="profile-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../../../assets/img/examples/city.jpg');"></div>




        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../../../assets/img/christian.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h3 class="title">Company Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor sem, tempor vulputate
                                    posuere elementum, rutrum non mi. Donec sollicitudin ipsum vel nisi maximus consequat.
                                    Etiam at aliquam metus. Sed mattis nisi id tellus consectetur, convallis hendrerit elit
                                    luctus. Aenean sodales sagittis condimentum. Phasellus rutrum congue sodales. Sed elementum
                                    viverra turpis non egestas. Morbi rhoncus mauris eget imperdiet convallis.</p>
                                <br />

                                <p><b>Date Founded:</b> 1990</p>
                                <p><b>No. of Employess:</b> 90</p>
                                <p><b>Turnover:</b> $1 Mn</p>
                                <p><b>Address:</b> San Franscio, United States of America</p>
                                <p><b>Industry:</b> Gaming</p>
                            </div>
                            <button class="btn btn-primary">Post a Job</button>


                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 col-md-offset-4">
                            <h2>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Average Rating</h2>
                            <div class="rating rating2">
                                <a href="#5" title="Give 5 stars">★</a>
                                <a href="#4" title="Give 4 stars">★</a>
                                <a href="#3" title="Give 3 stars">★</a>
                                <a href="#2" title="Give 2 stars">★</a>
                                <a href="#1" title="Give 1 star">★</a>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>



                    </div>

                    <div class="row">
                        <h2>Submit Rating</h2>

                        <div class="col-md-10 col-md-offset-1">
                            <table style="width:100%">

                                <tr>
                                    <td>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Enter Your Name</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                    </td>
                                    <td>

                                        <div class="rating rating2">
                                            <a href="#5" title="Give 5 stars">★</a>
                                            <a href="#4" title="Give 4 stars">★</a>
                                            <a href="#3" title="Give 3 stars">★</a>
                                            <a href="#2" title="Give 2 stars">★</a>
                                            <a href="#1" title="Give 1 star">★</a>
                                        </div>

                                    </td>
                                </tr>

                            </table>

                            <button class="btn btn-primary">Submit</button>

                        </div>
                    </div>

                </div>
            </div>




        </div>

    </div>
</body>