<body class="profile-page">


    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/examples/city.jpg');"></div>
        <div class="main main-raised col-md-12">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../../../assets/img/christian.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h3 class="title">Christian Louboutin
                                    <p style="color: green;">&#10004;</p>
                                </h3>
                                <button class="btn btn-primary">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="text-align:center">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-responsive" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        <h3>Language</h3>
                                    </th>
                                    <th>

                                        <h3>User Rating</h3>

                                    </th>
                                    <th>

                                        <h3>Company Rating</h3>

                                    </th>
                                    <th>

                                        <h3>Rate User</h3>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>star</td>
                                    <td>star</td>
                                    <td>star</td>
                                    <td>star</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>