<body class="profile-page">


  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('assets/img/examples/city.jpg');"></div>




    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="profile">
              <div class="avatar">
                <img src="../../../assets/img/christian.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
              </div>
              <div class="name">
                <h3 class="title">Christian Louboutin
                  <p style="color: green;">&#10004;</p>
                </h3>
                <button class="btn btn-primary">Edit Profile</button>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div style="text-align:center">
        <div class="row">
          <table style="width : 100%">
            <th>
              <div class="col-md-3">
                <h3>Language</h3>

              </div>
            </th>
            <th>
              <div class="col-md-3">
                <h3>User Rating</h3>
              </div>
            </th>
            <th>
              <div class="col-md-3">
                <h3>Company Rating</h3>
              </div>
            </th>
            <th>
              <div class="col-md-3">
                <h3>Rate User</h3>
              </div>
            </th>
        </div>
        <tr>
      </div>


    </div>
  </div>

  </div>

  </div>
</body>